div.box {
	display: inline-block;
	height:80px;
	width:80px;
	background-image: url('./img/trump.jpg');
	background-size: cover;
	background-position: left;
	text-align: center;
	color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	animation-name: soundHoverOut;
	animation-duration: 1s;
	animation-fill-mode: backwards;
	margin: 5px;
}

.stop {
	display: inline-block;
	height:80px;
	width:80px;
	background-image: url('./img/stop.png');
	background-size: cover;
	background-position: left;
	text-align: center;
	color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	animation-name: soundHoverOut;
	animation-duration: 1s;
	animation-fill-mode: backwards;
	margin: 5px;
}

div.box:hover {
	animation-name: soundHover;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.stop:hover {
	animation-name: soundHover;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.box-container {
	display: inline;
}

.box-text {
	padding-top:50%;
	font-size: 0.7em;
	font-weight: bold;
}



.center {
	text-align: center;
}

.headerMargin {
	margin-top: 80px;
}

@keyframes soundHover {
	0% {}
	100% {
	 	box-shadow: 0px 0px 13px 0px rgba(100,0,0,10.75);
	 	border-radius: 50%;
		}
}

@keyframes soundHoverOut {
	0% {
	 	box-shadow: 0px 0px 13px 0px rgba(100,0,0,10.75);
	 	border-radius: 50%;
		}
	100% {}
}




